<template>
  <div>
    <div class="box">
      <p class="box-input">
        <label for="username">Username</label>
        <input
          id="username"
          v-model="user.username"
          type="text"
          name="username"
        />
      </p>
      <div class="box-input">
        <label for="email">Email</label>
        <input id="email" v-model="user.email" type="email" name="email" />
      </div>
      <p class="box-input">
        <label for="password">Password</label>
        <input
          id="password"
          v-model="user.password"
          type="password"
          name="password"
        />
      </p>

      <div>
        <div v-if="isNew">
          <button class="btn btn-large" @click="addUser">Add</button>
        </div>
        <div v-else>
          <button class="btn btn-large" @click="updateUser">Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["users"]),
    user() {
      if (!this.$route.params.id) {
        return {
          email: "",
          username: "",
          password: "",
        };
      }

      return this.users.find((u) => u._id === this.$route.params.id);
    },
    isNew() {
      return !this.$route.params.id;
    },
  },
  methods: {
    addUser() {
      this.$store.dispatch("addUser", this.user);
      this.$router.push("/users");
    },
    updateUser() {
      this.$store.dispatch("updateUser", this.user);
      this.$router.push("/users");
    },
  },
};
</script>

<style>
.box {
  margin: auto;
  width: 20%;
}
</style>