<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>Welcome to user crud</h1>
    <button class="btn btn-large" ><router-link to="/users">Start</router-link></button>
  </div>
</template>

<script>

export default {
  name: 'Home',

}
</script>
