<template>
  <div >
    <button class="btn btn-large"><router-link to="/users/new">create new user</router-link></button>
    <table class="table">
        <thead>
            <th>Email</th>
            <th>Username</th>
             <th>Actions</th>
        </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index">
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button class="btn"> <router-link :to="{ name: 'edit-user', params: { id: user._id } }"
              >Edit</router-link
            ></button>
            <button class="btn" @click="remove(user)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  mounted() {
    this.$store.dispatch("getUsers");
  },
  computed: {
    ...mapState(["users"]),
  },
  methods: {
    remove(user) {
      if (confirm(`Are you sure you want to remove ${user.email}?`)) {
        this.$store.dispatch("removeUser", user);
      }
    },
  },
};
</script>

<style>
.table {
    margin-top:5% ;
}
</style>