<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/users">Users</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
a {
  text-decoration: none;
  color: black;
}
.table {
  margin: 0 auto;
}
.table td {
  padding: 10px;
}
.btn {
  border-radius: 5px;
  border: none;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.btn-large {
  font-size: large;
}
.btn:hover {
  cursor: pointer;
}

.box-input input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>
